.App {
  text-align: center;
}


header{
  background: red;
}

#Landing-Sect {
  background: blue;
}

#WeDo-Sect {
  background: green;
}

#Works-Sect {
  background: pink;
}
#Works-Sect img {
  width: 100px;
}

#Services-Sect {
  background: grey;
}

#Services-Sect header {
  background: inherit;
}
 
